<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TenkaiMonitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TenkaiMonitor.My.MySettings>
            <setting name="LogSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BluetoothPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AcelOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BtryOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OprtimeOut" serializeAs="String">
                <value>0</value>
            </setting>
        </TenkaiMonitor.My.MySettings>
    </userSettings>
</configuration>